/*
Use the following colors for your layout:
text: #0B1942
inline link: #00B7D3
h2 background: #0B1942
h2 color: #FFFFFF
logo background: #F5005B
navigation background: #7DDFE8
navigation link color: #FFFFFF
"Home" nav link background: #00A5BF
"Calendar" nav link background: #00B7D3
"Join" nav link background: #00D5E7
"Up Next" background: #0B1942
"Up Next" card background #E2E2E2
calendar background and treatments: #0B1942
calendar highlighted day: #F5005B
button background: #F5005B
copyright text: #FFFFFF

breakpoint range	breakpoint range start	breakpoint range end
small	            0 (320px)	            544px
medium	            545px	                768px
large	            769px	                + and up
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
/*  font-size: 100%;*/
  vertical-align: baseline;
  background: transparent;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
}

.grid-container {
  width: 100%;
  max-width: 1200px;
}

.nav-row {
  height: 115px;
  background-color: #7DDFE8;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.nav-item_home {
  height: 115px;
  width: 115px;
  background-color: #00A5BF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item_cal {
  height: 115px;
  width: 115px;
  background-color: #00B7D3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item_join {
  height: 115px;
  width: 115px;
  background-color: #00D5E7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item_copywrite {
  align-content: flex-end;
  display: flex;
  flex-direction: column;
  height: 115px;
  justify-content: center;
  width: 135px;
}

#logo {
  background-color: #F5005B;
  height: 115px;
  width: 115px;
}

/*this does not do anything...why?*/
img {
  height: 90%;
  width: 90%;
}

li a {
  color: #FFF;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
}

.page-header {
  display: flex;
}

h1 {
  color: #0B1942;
}

.details {
  display: flex;
  justify-content: space-around;
  height: 15em;
}

.item {
  width: 30%;
/*  border: 1px solid red;*/
}

.sub-heading {
  background-color: #0B1942;
  color: #FFF;
}

.upcoming {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #0B1942;
}

h2 {
  color: #FFF;
  width: 100%;
  font-size: 2em;
  font-weight: 200;
}

.featured img {
  width: 45%;
  height: 55%;
}

.featured {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 45%;
  padding: 2%;
  background-color: #E2E2E2;
}

.words_featured {
  padding-left: 15%;
  text-align: center;
}

h3 {
  border-bottom: .055em solid #000;
}

.featured ul {
  width: 25%;
  text-align: right;
  list-style: circle;
}

.coming_attractions {
  background-color: #E2E2E2;
}

.paired_1, .paired_2 {
  display: flex;
  width: 45vw;
}

.paired_3, .paired_4 {
  display: flex;
  width: 55%;
}

.movie_1 {
/*  display: flex;*/
}

.cal_container {
}

.cal_header {
}

.cal_month {
  height: 2em;
  background-color: #0B1942;
  color: #FFF;
}

.month_container {
}

.cal_week_1, .cal_week_2, .cal_week_3, .cal_week_4, .cal_week_5 {
  display: flex;
  border: 1px solid #0B1942;
}

.cal-wht {
  width: 100vw;
  height: 115px;
  color: #0B1942;
}

#profile_pic {
  height: 30%;
  width: 30%;
  border-radius: 10em;
}